<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-08-16T21:38:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Ross/Desktop/Swift Work/Practising_manipulating_JSON/Practising_manipulating_JSON.xcodeproj</string>
</dict>
</plist>
